@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@media (max-width: 23.59375em) {
  .cart {
    margin-top: 9rem;
  }
}

html.has-menu-overlay,
body.has-menu-overlay {
  overflow-y: hidden;
  overflow-x: hidden;
}
