.errMsg {
    font-size: 1.6rem;
    color: var(--primary-clr-strawberry-red);
    position: absolute;
    line-height: 1.4;
}

.form {
    top: 0;
    right: 2rem;
}

.plan {
    bottom: 0;
    left: 0;
    transform: translateY(3rem);
}

@media (max-width: 600px) {
    .errMsg.form,
    .errMsg.plan {
        position: static;
    }
    .errMsg.plan {
        transform: none;
    }
}
