@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --primary-clr-marine-blue: hsl(213, 96%, 18%);
    --primary-clr-purplish-blue: hsl(243, 100%, 62%);
    --primary-clr-pastel-blue: hsl(228, 100%, 84%);
    --primary-clr-light-blue: hsl(206, 94%, 87%);
    --primary-clr-strawberry-red: hsl(354, 84%, 57%);
    --primary-clr-green: hsl(130, 77%, 51%);

    --neutral-clr-cool-gray: hsl(231, 11%, 63%);
    --neutral-clr-light-gray: hsl(229, 24%, 87%);
    --neutral-clr-magnolia: hsl(217, 100%, 97%);
    --neutral-clr-alabaster: hsl(231, 100%, 99%);
    --neutral-clr-white: hsl(0, 0%, 100%);

    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Ubuntu', sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: black;
}
