.main {
    height: 60rem;
    padding: 1.6rem 3.6rem 1.6rem 1.6rem;
    margin-inline: 3.2rem;
    display: flex;
    gap: 3rem;
    background-color: var(--neutral-clr-white);
    border-radius: 1.5rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.125);
    position: relative;
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
        margin-inline: 2rem;
        padding: 2.5rem;
        height: 100%;
    }
}
