.planTitle {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-bottom: 5rem;
    position: relative;
}

.planHeading {
    font-size: 3.6rem;
    font-weight: var(--fw-bold);
    color: var(--primary-clr-marine-blue);
}

.planSubHeading {
    font-size: 1.7rem;
    color: var(--neutral-clr-cool-gray);
    line-height: 1.6;
}

.planTierList {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.8rem;
    margin-bottom: 4rem;
}

.plan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    padding: 1.6rem 0rem 1.6rem 1.6rem;
    border: 1px solid var(--neutral-clr-cool-gray);
    border-radius: 1rem;
    transition: all 0.15s ease-in;
}

.plan:hover,
.plan:active {
    cursor: pointer;
    border: 1px solid var(--primary-clr-purplish-blue);
    background-color: var(--neutral-clr-magnolia);
}

.plan.planActive {
    border: 1px solid var(--primary-clr-marine-blue);
    background-color: var(--neutral-clr-magnolia);
}

.plan > img {
    max-height: 100%;
}

.planContent {
    display: flex;
    flex-direction: column;
    gap: 0.725rem;
}

.planName {
    font-size: 1.7rem;
    font-weight: var(--fw-medium);
    text-transform: capitalize;
    color: var(--primary-clr-marine-blue);
}

.planDesc {
    font-size: 1.4rem;
    color: var(--neutral-clr-cool-gray);
}

.planAddOn {
    font-size: 1.4rem;
    font-weight: var(--fw-medium);
    color: var(--primary-clr-marine-blue);
}

@media (max-width: 1050px) {
    .planTierList {
        gap: 2.8rem;
    }
}

@media (max-width: 600px) {
    .plan {
        flex-direction: row;
        gap: 2.5rem;
    }
    .planTitle {
        margin-bottom: 2rem;
    }
    .planTierList {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px) {
    .planHeading {
        font-size: 3rem;
    }
}
