.sidebar {
    position: relative;
    background-image: url('../../public/images/bg-sidebar-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 30rem;
}

.sidebarStepContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 3rem;
}

.sidebarStep {
    display: flex;
    gap: 1.6rem;
}

.sidebarCircle {
    font-size: 1.6rem;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    color: var(--neutral-clr-white);
    border: 1px solid var(--neutral-clr-white);
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    font-weight: var(--fw-medium);
    color: var(--primary-clr-marine-blue);
    background-color: var(--primary-clr-light-blue);
    border: 1px solid var(--neutral-clr-light-blue);
}

.sidebarStep :last-child > * {
    display: block;
    text-transform: uppercase;
}

.sidebarSubheading {
    font-size: 1.3rem;
    color: var(--neutral-clr-light-gray);
    margin-bottom: 0.5rem;
}

.sidebarHeading {
    font-size: 1.6rem;
    font-weight: var(--fw-medium);
    color: var(--neutral-clr-white);
}

@media (max-width: 900px) {
    .sidebar {
        background-image: url('../../public/images/bg-sidebar-mobile.svg');
        background-size: cover;
        background-position: bottom;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 30rem;
        z-index: -1;
    }
    .sidebarStepContainer {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        padding-top: 3.3rem;
    }
    .sidebarStep :last-child {
        display: none;
    }
    .sidebarCircle {
        font-size: 2rem;
        padding: 2.5rem;
        width: 4rem;
        height: 4rem;
    }
}

@media (max-width: 600px) {
    .sidebar {
        height: 25rem;
    }
    .sidebarCircle {
        padding: 2rem;
    }
}

@media (max-width: 400px) {
    .sidebar {
        height: 20rem;
    }
}
