* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 70%;
    overflow-x: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: hsl(36, 100%, 99%);
    overflow-x: hidden;
    position: relative;
}

.container {
    margin-inline: auto;
    max-width: 120rem;
}

.header {
    padding-top: 4rem;
}

.header-navigation {
    padding-inline: 3.2rem;
    display: flex;
    justify-content: space-between;
}

.logo-icon {
    display: block;
}

.nav-links {
    font-size: 1.8rem;
    font-weight: 500;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-links a:link,
.nav-links a:visited {
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    transition: all 0.3s;
}

.nav-links a:hover,
.nav-links a:active {
    color: hsl(35, 77%, 62%);
}

.icon-btn {
    display: none;
    border: none;
    background: none;
    color: hsl(240, 6%, 14%);
    position: relative;
    z-index: 100;
}

.icon-btn:hover {
    cursor: pointer;
}

.icon {
    width: 4.8rem;
    height: 4.8rem;
}

.icon[name='close-outline'] {
    display: none;
}

.news-grid {
    padding-top: 4.8rem;
    padding-inline: 3.2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2.8rem;
}

.main-news--img {
    width: 100%;
}

.main-news--content {
    padding-top: 2.4rem;
    display: grid;
    grid-template-columns: 45fr 55fr;
    column-gap: 4.6rem;
}

.main-news--heading {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.1;
    letter-spacing: -0.5px;
}

.main-news--details {
    padding-inline: 1.6rem;
    display: flex;
    flex-direction: column;
}

.main-news--text {
    font-size: 1.6rem;
    line-height: 1.6;
    color: hsl(236, 13%, 42%);
}

.btn {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
    color: hsl(36, 100%, 99%);
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: hsl(5, 85%, 63%);
    margin-top: auto;
    border: none;
    width: 50%;
    padding-block: 1.2rem;
    transition: all 0.3s;
}

.btn:hover,
.btn:active {
    cursor: pointer;
    background-color: hsl(240, 100%, 5%);
}

.other-news {
    background-color: hsl(240, 100%, 5%);
    padding: 2.4rem 1.8rem 2.4rem 1.8rem;
}

.other-news :nth-child(2) {
    margin-top: 2.4rem;
}

.news:nth-of-type(1),
.news:nth-last-of-type(2) {
    padding-bottom: 3.2rem;
    border-bottom: 1px solid hsl(233, 8%, 79%);
}

.news:nth-of-type(2),
.news:last-of-type {
    margin-top: 2.6rem;
}

.subheadline {
    font-size: 3.6rem;
    font-weight: 700;
    color: hsl(35, 77%, 62%);
}

.subheading {
    font-size: 1.8rem;
    font-weight: 600;
    color: hsl(36, 100%, 99%);
    transition: all 0.2s;
}

.subheading:hover,
.subheading:active {
    cursor: pointer;
    color: hsl(35, 77%, 62%);
}

.news-text {
    font-size: 1.5rem;
    color: hsl(233, 8%, 79%);
    line-height: 1.6;
}

.secondary-news-grid {
    padding-top: 4.8rem;
    padding-inline: 3.2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.secondary-news {
    display: flex;
    gap: 1.8rem;
}

.secondary-news img {
    height: 11rem;
}

.secondary-news--number {
    display: inline-block;
    font-size: 2.6rem;
    font-weight: 600;
    color: hsl(233, 8%, 79%);
    margin-bottom: 1.2rem;
}

.secondary-news--heading {
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    transition: all 0.3s;
}

.secondary-news--text {
    font-size: 1.4rem;
    color: hsl(236, 13%, 42%);
    line-height: 1.6;
}

.secondary-news--heading:hover,
.secondary-news--heading:active {
    cursor: pointer;
    color: hsl(5, 85%, 63%);
}
