:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-pink: hsl(322, 100%, 66%);
    --clr-light-pink: hsl(321, 100%, 78%);
    --clr-red: hsl(0, 100%, 63%);
    --clr-dark-cyan: hsl(192, 100%, 9%);
    --clr-pale-blue: hsl(207, 100%, 98%);

    --fw-normal: 400;
    --fw-medium: 600;
    --fw-bold: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 0.5rem var(--clr-light-pink);
}

html {
    font-size: 75%;
    scroll-behavior: smooth;
}

body {
    font-weight: var(--fw-normal);
    font-family: "Open Sans", sans-serif;
    background-color: var(--clr-white);
}